In [1]:
import pandas as pd

In [6]:
h_df = pd.read_csv('/Users/jacobyin16/Desktop/AD654/hotel.csv')
a_df = pd.read_csv('/Users/jacobyin16/Desktop/AD654/amentity.csv')

In [5]:
h_df

,WiFi_Network,breakfast,parking,gym,flex_check,shuttle_bus,air_pure,jacuzzi,VIP_shop,pool_temp,avg_rating
0,Basic,None,Valet,None,No,No,No,No,No,76,4.57
1,Basic,None,Valet,None,No,No,No,No,No,80,7.60
2,Basic,None,Valet,None,No,No,No,No,No,84,5.66
3,Basic,None,Valet,None,No,No,No,No,Yes,76,2.80
4,Basic,None,Valet,None,No,No,No,No,Yes,80,4.56
...,...,...,...,...,...,...,...,...,...,...,...
6907,Best in Class,Full Buffet,Open Lot,Super,Yes,Yes,Yes,Yes,No,80,8.21
6908,Best in Class,Full Buffet,Open Lot,Super,Yes,Yes,Yes,Yes,No,84,8.21
6909,Best in Class,Full Buffet,Open Lot,Super,Yes,Yes,Yes,Yes,Yes,76,8.21
6910,Best in Class,Full Buffet,Open Lot,Super,Yes,Yes,Yes,Yes,Yes,80,8.21
6911,Best in Class,Full Buffet,Open Lot,Super,Yes,Yes,Yes,Yes,Yes,84,8.21

In [10]:
a_df

,Amenity,Level,"Estimated Incremental Cost,\nPer Visitor/Per Night"
0,WiFi_Network,Basic,11.75
1,WiFi_Network,Strong,16.25
2,WiFi_Network,Best in Class,19.15
3,breakfast,None,0.00
4,breakfast,Continental,13.25
5,breakfast,Full Buffet,22.45
6,parking,Valet,60.00
7,parking,Open Lot,15.00
8,gym,None,0.00
9,gym,Basic,10.00
10,gym,Advanced,35.00
11,gym,Super,65.00
12,flex_check,No,0.00
13,flex_check,Yes,12.00
14,shuttle_bus,No,0.00
15,shuttle_bus,Yes,75.00
16,air_pure,No,0.00
17,air_pure,Yes,12.85
18,jacuzzi,No,0.00
19,jacuzzi,Yes,40.00
20,VIP_shop,No,0.00
21,VIP_shop,Yes,12.00
22,pool temp,76,15.00
23,pool temp,80,35.00
24,pool temp,84,45.00

In [17]:
h_df.isna().sum()

WiFi_Network    0
breakfast       0
parking         0
gym             0
flex_check      0
shuttle_bus     0
air_pure        0
jacuzzi         0
VIP_shop        0
pool_temp       0
avg_rating      0
dtype: int64

In [19]:
h_df.columns

Index(['WiFi_Network', 'breakfast', 'parking', 'gym', 'flex_check',
       'shuttle_bus', 'air_pure', 'jacuzzi', 'VIP_shop', 'pool_temp',
       'avg_rating'],
      dtype='object')

In [23]:
h_df['WiFi_Network'].unique()

array(['Basic', 'Strong', 'Best in Class'], dtype=object)

In [20]:
h_df2 = pd.get_dummies(h_df, columns = ['WiFi_Network', 'breakfast', 'parking', 'gym', 'flex_check',
       'shuttle_bus', 'air_pure', 'jacuzzi', 'VIP_shop', 'pool_temp'], drop_first = True)

In [21]:
h_df2

,avg_rating,WiFi_Network_Best in Class,WiFi_Network_Strong,breakfast_Full Buffet,breakfast_None,parking_Valet,gym_Basic,gym_None,gym_Super,flex_check_Yes,shuttle_bus_Yes,air_pure_Yes,jacuzzi_Yes,VIP_shop_Yes,pool_temp_80,pool_temp_84
0,4.57,0,0,0,1,1,0,1,0,0,0,0,0,0,0,0
1,7.60,0,0,0,1,1,0,1,0,0,0,0,0,0,1,0
2,5.66,0,0,0,1,1,0,1,0,0,0,0,0,0,0,1
3,2.80,0,0,0,1,1,0,1,0,0,0,0,0,1,0,0
4,4.56,0,0,0,1,1,0,1,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6907,8.21,1,0,1,0,0,0,0,1,1,1,1,1,0,1,0
6908,8.21,1,0,1,0,0,0,0,1,1,1,1,1,0,0,1
6909,8.21,1,0,1,0,0,0,0,1,1,1,1,1,1,0,0
6910,8.21,1,0,1,0,0,0,0,1,1,1,1,1,1,1,0
6911,8.21,1,0,1,0,0,0,0,1,1,1,1,1,1,0,1

In [24]:
h_df2.columns

Index(['avg_rating', 'WiFi_Network_Best in Class', 'WiFi_Network_Strong',
       'breakfast_Full Buffet', 'breakfast_None', 'parking_Valet', 'gym_Basic',
       'gym_None', 'gym_Super', 'flex_check_Yes', 'shuttle_bus_Yes',
       'air_pure_Yes', 'jacuzzi_Yes', 'VIP_shop_Yes', 'pool_temp_80',
       'pool_temp_84'],
      dtype='object')

In [29]:
X =h_df2[['WiFi_Network_Best in Class', 'WiFi_Network_Strong',
       'breakfast_Full Buffet', 'breakfast_None', 'parking_Valet', 'gym_Basic',
       'gym_None', 'gym_Super', 'flex_check_Yes', 'shuttle_bus_Yes',
       'air_pure_Yes', 'jacuzzi_Yes', 'VIP_shop_Yes', 'pool_temp_80',
       'pool_temp_84']]
y = h_df2['avg_rating']

In [30]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics
regressor = LinearRegression()
regressor.fit(X, y)

LinearRegression()

In [33]:
regressor.intercept_

5.527955729166588

In [31]:
coef_df = pd.DataFrame(regressor.coef_, X.columns, columns=['Coefficient'])
coef_df

                            Coefficient
WiFi_Network_Best in Class     1.726814
WiFi_Network_Strong            1.187700
breakfast_Full Buffet          0.500998
breakfast_None                -0.225924
parking_Valet                  0.093678
gym_Basic                     -0.146314
gym_None                      -0.168484
gym_Super                      0.044363
flex_check_Yes                 0.478220
shuttle_bus_Yes                0.419939
air_pure_Yes                   0.075258
jacuzzi_Yes                    0.183909
VIP_shop_Yes                   0.217925
pool_temp_80                   0.074744
pool_temp_84                   0.263806

In [32]:
a_df

,Amenity,Level,"Estimated Incremental Cost,\nPer Visitor/Per Night"
0,WiFi_Network,Basic,11.75
1,WiFi_Network,Strong,16.25
2,WiFi_Network,Best in Class,19.15
3,breakfast,None,0.00
4,breakfast,Continental,13.25
5,breakfast,Full Buffet,22.45
6,parking,Valet,60.00
7,parking,Open Lot,15.00
8,gym,None,0.00
9,gym,Basic,10.00
10,gym,Advanced,35.00
11,gym,Super,65.00
12,flex_check,No,0.00
13,flex_check,Yes,12.00
14,shuttle_bus,No,0.00
15,shuttle_bus,Yes,75.00
16,air_pure,No,0.00
17,air_pure,Yes,12.85
18,jacuzzi,No,0.00
19,jacuzzi,Yes,40.00
20,VIP_shop,No,0.00
21,VIP_shop,Yes,12.00
22,pool temp,76,15.00
23,pool temp,80,35.00
24,pool temp,84,45.00

In [35]:
h_df[h_df['jacuzzi']=='Yes']

,WiFi_Network,breakfast,parking,gym,flex_check,shuttle_bus,air_pure,jacuzzi,VIP_shop,pool_temp,avg_rating
6,Basic,None,Valet,None,No,No,No,Yes,No,76,2.44
7,Basic,None,Valet,None,No,No,No,Yes,No,80,2.66
8,Basic,None,Valet,None,No,No,No,Yes,No,84,4.22
9,Basic,None,Valet,None,No,No,No,Yes,Yes,76,7.39
10,Basic,None,Valet,None,No,No,No,Yes,Yes,80,6.78
...,...,...,...,...,...,...,...,...,...,...,...
6907,Best in Class,Full Buffet,Open Lot,Super,Yes,Yes,Yes,Yes,No,80,8.21
6908,Best in Class,Full Buffet,Open Lot,Super,Yes,Yes,Yes,Yes,No,84,8.21
6909,Best in Class,Full Buffet,Open Lot,Super,Yes,Yes,Yes,Yes,Yes,76,8.21
6910,Best in Class,Full Buffet,Open Lot,Super,Yes,Yes,Yes,Yes,Yes,80,8.21
6911,Best in Class,Full Buffet,Open Lot,Super,Yes,Yes,Yes,Yes,Yes,84,8.21

**250 dollars per night for each room**

**According to the coef dataframe and amentities cost dataframe, I recommand Diseny Hotel to include the following amentites for their customers: Best In Class Wifi, Full Buffet Breakfeast, Open Lot Parking, Advanced Gym, 
Flex Check-In, Free Shuttle Bus, VIP Shop, and 84F Pool. All these amentities would cost 235.7 dollars each night per room.**

**In addition to suggesting the incorporation of certain amenities, there are several modifications that the hotel could consider for their current offerings. Based on the coefficient dataframe, it is evident that customers exhibit limited sensitivity towards the provision of air purifiers. Rather than offering an air purifier in the rooms, the hotel might contemplate alternative enhancements to augment the guest experience, such as larger televisions or adjustable beds. Furthermore, there appears to be minimal customer preference for valet parking. Discontinuing this service could potentially reduce operational costs. Conversely, the VIP shopping feature is highly favored by patrons. The hotel might capitalize on this preference by potentially housing upscale boutiques on the premises and generating additional revenue through sales commissions**